
html {
            background: url('https://weiwei.sitesi.tc/bj.png') ;
}
body {
  max-width: 885px;
  margin: 180px auto;
  font-size: 16px;
  font-family: sans-serif;
  line-height: 1.25;
  background: rgba(234, 234, 234, 0.6);
  border-radius: 8px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
  overflow: auto;
            position: relative;
}
body p::selection{
    color: darkred;
    background-color: gold;
}
/*增加页顶图片*/
#header::after {
    content:url('https://weiwei.sitesi.tc/tunian.png');
    position: absolute;
   top: -139px;
  right: 20px;
  }
#footer{line-height: 2;}
#footer a{color: var(--fgColor-default, var(--color-fg-default));}
#footer1::before{
  content: "地址:湖南长沙镖子岭血尸墓 \00a0 \00a0 电话：1390000000 \00a0 \00a0 Email：heimaojingzhang@188.com";
  display: block;
}
/*文章导航插件的背景和位置移动*/
.toc {
top: 179px !important;
  left: 52% !important;
  background: rgba(255, 255, 255, 0.8) !important;
  box-shadow: 0 0px 0px rgba(0,0,0,0) !important;
}
.postTitle {
  line-height: 1.5;
  font-size: 30px;
}
/*内页图片加圆角*/
#postBody img{border-radius: 8px;}
.markdown-body {
  line-height: 1.8;
}
/*js新增代码css*/
.hengfu img{
    max-width: 100%;
   border-radius: 8px;
   margin-top: 20px;
}
/*文章导航手机端宽设置为100%*/
@media (max-width: 1249px) {
  .toc {
    width: 100% !important;
    background: rgba(255, 255, 255, 0.3) !important;
  }
}
@media (max-width: 600px) {

 body {
  margin: 150px 20px;
  padding: 30px 14px !important;
}
  
 
#header::after {
  left: 50%;
  right: unset;
  transform: translateX(-50%);
  }
            
.markdown-body {
  font-size: 18px;
}
  #header {
  display: block !important;
}
             /*手机端隐藏回顶部*/
 .toc-end {
  display: none !important;
}
    #footer1::before {
        content: "地址:湖南长沙镖子岭血尸墓\A 电话：1390000000\A Email：heimaojingzhang@188.com";
        white-space: pre;
    }
}
